body{
  overflow-x: hidden;
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.header{
  background-color: #232323;
  color: #fff;
  height: 134px;
}
.left-panel{
  position: fixed;
  width:250px;
  height:100%;
  background:#4d4d4d ;
  left:0px;
  top:75px;
  color: #fff;
  h3{
    padding:0 10px ;
  }
  ul{
    padding:0;
    list-style: none;
    float: left;
    width:100%;
    li{
      width:100%;
      float: left;
      background: #232323;
      padding:5px 0;
      cursor:pointer;
      margin: 2px 0 0;
      a {
        color: #fff;
        font-size: 16px;
        padding:15px;
        width: 98%;
        cursor:pointer;
        float: left;
        &:hover{
          text-decoration: none;
        }
      }

    }
  }
}

.right-panel{
  position: absolute;
  width:81%;
  height:100%;
  top:75px;
  background:#fff;
  &.slideOutRight{
    width: 98%;
  }
  h3{
    margin: 0;
    padding: 15px;
    background: #232323;
    color: #fff;
    span{
      cursor: pointer;
    }
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);

  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0, 0, 0);

  }

  to {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}


@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);

  }

  to {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);

  }

  to {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);

  }

  to {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);

  }

  to {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
.offset-10{
  margin-top: 10px;
}


